{% extends 'statefiles/base.html' %} {% load static %} {% block content %}

<section class="contact section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Let's <span>begin</span></h2>

        <div class="map-container me-lg-5 pe-lg-3" style="height: 450px">
          <iframe
            src="https://www.google.com/maps?q=Mascara,+Algérie&output=embed"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="col-lg-6 col-12 mt-5 ms-auto">
        <div class="row">
          <div class="col-6 border-end contact-info">
            <h6 class="mb-3">Mail Project</h6>

            <a href="mailto:hello@company.com" class="custom-link">
              hello@company.com
              <i class="bi-arrow-right ms-2"></i>
            </a>
          </div>

          <div class="col-6 contact-info">
            <h6 class="mb-3">Main Labo</h6>

            <a href="mailto:studio@company.com" class="custom-link">
              studio@company.com
              <i class="bi-arrow-right ms-2"></i>
            </a>
          </div>

          <div class="col-6 border-top border-end contact-info">
            <h6 class="mb-3">Our Office</h6>

            <p class="text-muted">Mamounia mascara , algérie</p>
          </div>

          <div class="col-6 border-top contact-info">
            <h6 class="mb-3">Our Socials</h6>

            <ul class="social-icon">
              <li><a href="#" class="social-icon-link bi-messenger"></a></li>

              <li><a href="#" class="social-icon-link bi-youtube"></a></li>

              <li><a href="#" class="social-icon-link bi-instagram"></a></li>

              <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
