{% extends 'statefiles/base.html' %} {% load static %}
<!-- Add this line -->
{% block content %}
<header class="site-header section-padding-img site-header-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 header-info">
        <h1>
          <span class="d-block text-primary">Groupe bacterie de Sarvices </span>
          <span class="d-block text-dark">{{ service.name }}</span>
        </h1>
      </div>
    </div>
  </div>
</header>

<section class="featured-product section-padding">
  <div class="container">
    <div class="row">
      {% for group in groups %}

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="{% url 'bactirie' group.id %}">
            <img
              src="{%  static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="product-detail.html" class="product-title-link"
                  >{{ group.name }}</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <a href="{% url 'index' %}">Back to Services</a>
    </div>
  </div>
</section>

{% endblock %}
