{% extends 'statefiles/base.html' %} {% load static %} {% block content %}
<section class="featured-product section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-5">Identification Bactérienne</h2>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/entrobactrie.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{%  url 'predectionEntérobactéries' %}"
                  class="product-title-link"
                  >Entérobactéries</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/predection/Staphylococcus.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{%  url 'predectionstash' %}"
                  class="product-title-link"
                  style="font-style: italic"
                  >Staphylococcus</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/predection/download.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{% url 'predectionPseudo_Aeromonas' %}"
                  class="product-title-link"
                  >Bacilles à Gram négatif non entérobactéries</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/predection/Enterococcus.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{% url 'predectionEnterococcus' %}"
                  class="product-title-link"
                  style="font-style: italic"
                  >Enterococcus</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/predection/Streptococcus.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{% url 'predectionStreptococcus' %}"
                  class="product-title-link"
                  style="font-style: italic"
                  >Streptococcus</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/predection/Bacillus.png' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a
                  href="{% url 'predectionBacillus' %}"
                  class="product-title-link"
                  style="font-style: italic"
                  >Bacillus</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 mb-3">
      <div class="product-thumb">
        <a href="">
          <img
            src="{% static 'images/predection/Clostridium.png' %}"
            class="img-fluid product-image"
            alt=""
          />
        </a>

        <div class="product-top d-flex">
          <a href="#" class="bi-heart-fill product-icon"></a>
        </div>

        <div class="product-info d-flex">
          <div>
            <h5 class="product-title mb-0">
              <a href="" class="product-title-link" style="font-style: italic"
                >Clostridium</a
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
