{% extends 'statefiles/base.html' %} {% load static %} {% block content %}
<section class="featured-product section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-5">Identification Maladie(Bacterie)</h2>
      </div>

      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Entérobactéries</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Staph</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Pseudo-Aeromonas</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Enterococcus</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Streptococcus</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3">
        <div class="product-thumb">
          <a href="">
            <img
              src="{% static 'images/ingenieur-biochimiste.jpg' %}"
              class="img-fluid product-image"
              alt=""
            />
          </a>

          <div class="product-top d-flex">
            <a href="#" class="bi-heart-fill product-icon"></a>
          </div>

          <div class="product-info d-flex">
            <div>
              <h5 class="product-title mb-0">
                <a href="" class="product-title-link">Bacillus</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 mb-3">
      <div class="product-thumb">
        <a href="">
          <img
            src="{% static 'images/ingenieur-biochimiste.jpg' %}"
            class="img-fluid product-image"
            alt=""
          />
        </a>

        <div class="product-top d-flex">
          <a href="#" class="bi-heart-fill product-icon"></a>
        </div>

        <div class="product-info d-flex">
          <div>
            <h5 class="product-title mb-0">
              <a href="" class="product-title-link">Clostridium</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
