{% extends 'statefiles/base.html' %} {% load static %}
<!-- Add this line -->
{% block content %}
<header class="site-header section-padding-img site-header-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 header-info">
        <h1>
          <span class="d-block text-primary">Teams Mascara</span>
          <span class="d-block text-dark">Biology</span>
        </h1>
      </div>
    </div>
  </div>

  <img
    src="{% static 'images/teams/IMG-20250616-WA0013.jpg' %}"
    class="header-image img-fluid"
    alt="vvv"
  />
</header>

<!-- Hospital Team -->
<section class="team section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Directrices <span>de projet</span></h2>
      </div>

      <!-- Example Doctor -->
      <div class="col-lg-4 mb-4 col-12" style="width: 50%">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/IMG-20250616-WA0031.jpg' %}"
            class="img-fluid team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">Dr SIDE LARBI Khadidja</h5>
            <strong class="text-muted"
              >Université de Mascara // Khadidja.larbi@univ-mascara.dz</strong
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12" style="width: 50%">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/asmaa.png' %}"
            class="img-fluid team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">Dr. BELIMIMOUN Asmaa</h5>
            <strong class="text-muted"
              >Université de Mascara // asmaa.belmimoun@univ-mascara.dz</strong
            >
          </div>
        </div>
      </div>

      <!-- Add more doctors here -->
    </div>
  </div>
</section>

<!-- University Team -->
<section class="team section-padding bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Equipe <span>technique</span></h2>
      </div>

      <!-- Example Professor -->
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/etudiant1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">CHOUITAH Bouchra</h5>
            <strong class="text-muted">bochrachouitah@gmail. com</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/etudiant2.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">BENAICHA Farah</h5>
            <strong class="text-muted">Benaichaf23@gmail.co m</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/IMG-20250616-WA0032.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">OUAHDI Mohamed</h5>
            <strong class="text-muted">mohamed.ouahdi@univ- mascara.dz</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/professor1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
            style="width: 190px; height: 190px"
          />
          <div class="team-info">
            <h5 class="mb-0">Dailizohra29@gmail.com</h5>
            <strong class="text-muted">Dailizohra29@gmail.com</strong>
          </div>
        </div>
      </div>

      <!-- Add more professors here -->
    </div>
  </div>
</section>

<!-- Developer Team -->
<section class="team section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Equipe <span>hôpital</span></h2>
      </div>

      <!-- Example Developer -->
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/developer1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">LALMI Ismahene</h5>
            <strong class="text-muted">lalmiismahene@gmial.com</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/developer1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">Dr, CHALABI</h5>
            <strong class="text-muted">EPH de Sig-Mascara</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/developer1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">KHABER Mohamed</h5>
            <strong class="text-muted">Hamoudakbr311@gmail.com</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/developer1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">DJEFFAL Samira</h5>
            <strong class="text-muted">Samiradjeffal80@gmail. com</strong>
          </div>
        </div>
      </div>
      <!-- Add more developers here -->
    </div>
  </div>
</section>
<!-- Developer Team -->
<section class="team section-padding bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Equipe <span>Informatique et Economie</span></h2>
      </div>

      <!-- Example Developer -->
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/developer1.jpg' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">Chrair mohamed nadir</h5>
            <strong class="text-muted">Full Stack Developer</strong>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 col-12">
        <div class="team-thumb d-flex align-items-center">
          <img
            src="{% static 'images/teams/prof.png' %}"
            class="img-fluid custom-circle-image team-image me-4"
            alt=""
          />
          <div class="team-info">
            <h5 class="mb-0">belmimoun abdel-nour</h5>
            <strong class="text-muted">Pr. ecenomie et gestion</strong>
          </div>
        </div>
      </div>

      <!-- Add more developers here -->
    </div>
  </div>
</section>

<section class="testimonial section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto col-11">
        <h2 class="text-center">
          Customer love, <br />
          <span>Faculté</span> SNV
        </h2>

        <div class="slick-testimonial">
          <div class="slick-testimonial-caption">
            <p class="lead">
              La recherche est un processus sans fin dont on ne peut jamais dire
              comment il évoluera l’imprévisible est dans la nature même de la
              science
            </p>

            <div
              class="slick-testimonial-client d-flex align-items-center mt-4"
            >
              <img
                src="images/teams/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg"
                class="img-fluid custom-circle-image me-3"
                alt=""
              />

              <span> <strong class="text-muted">François Jacob</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
