{% extends 'statefiles/base.html' %} {% load static %} {% block content %}

<h2>Identification Form</h2>
<form>
  <label for="ONPG">ONPG:</label>
  <select name="ONPG" id="ONPG">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="ADH">ADH:</label>
  <select name="ADH" id="ADH">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="LDC">LDC:</label>
  <select name="LDC" id="LDC">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="ODC">ODC:</label>
  <select name="ODC" id="ODC">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="CIT">CIT:</label>
  <select name="CIT" id="CIT">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="H2S">H2S:</label>
  <select name="H2S" id="H2S">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="URE">URE:</label>
  <select name="URE" id="URE">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="TDA">TDA:</label>
  <select name="TDA" id="TDA">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="IND">IND:</label>
  <select name="IND" id="IND">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="VP">VP:</label>
  <select name="VP" id="VP">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="GEL">GEL:</label>
  <select name="GEL" id="GEL">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="GLU">GLU:</label>
  <select name="GLU" id="GLU">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="MAN">MAN:</label>
  <select name="MAN" id="MAN">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="INO">INO:</label>
  <select name="INO" id="INO">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="SOR">SOR:</label>
  <select name="SOR" id="SOR">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="RHA">RHA:</label>
  <select name="RHA" id="RHA">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="SAC">SAC:</label>
  <select name="SAC" id="SAC">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="MEL">MEL:</label>
  <select name="MEL" id="MEL">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="AMY">AMY:</label>
  <select name="AMY" id="AMY">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="ARA">ARA:</label>
  <select name="ARA" id="ARA">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="Oxydase">Oxydase:</label>
  <select name="Oxydase" id="Oxydase">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="NO2">NO2:</label>
  <select name="NO2" id="NO2">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="N2">N2:</label>
  <select name="N2" id="N2">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <label for="Mobilité">Mobilité:</label>
  <select name="Mobilité" id="Mobilité">
    <option value="positive">Positive</option>
    <option value="negative">Negative</option>
  </select>
  <br /><br />

  <button type="submit">Identification</button>
</form>
{% endblock %}
